
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="renderer" content="webkit">
  <meta name="referrer" content="no-referrer" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="_admin_/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="_admin_/css/admin.css" media="all">
  <script>
  // /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
  </script>

  <link rel="stylesheet" href="_admin_/kindeditor/themes/default/default.css" />
    

</head>
<body class="layui-layout-body">