{include file="index:header" /}
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">修改密码</div>
          <div class="layui-card-body" pad15>
            
            <div class="layui-form" lay-filter="">
              <div class="layui-form-item">
                <label class="layui-form-label">当前密码</label>
                <div class="layui-input-inline">
                  <input type="password" name="oldPassword" id="old" lay-verify="required" lay-verType="tips" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-inline">
                  <input type="password" name="password" id="pass" lay-verify="pass" lay-verType="tips" autocomplete="off" id="LAY_password" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">确认新密码</label>
                <div class="layui-input-inline">
                  <input type="password" name="repassword" id="repass" lay-verify="repass" lay-verType="tips" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="setmypass" onclick="save()">确认修改</button>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="_admin_/js/jquery.min.js"></script>
  <script src="_admin_/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '_admin_' //静态资源所在路径
  }).extend({
    index: 'js/index', //主入口模块
    // set : '../js/set'
  }).use(['index']);



      function save(){
        var old = $('#old').val()
        var password = $('#pass').val()
        var repass = $('#repass').val()

        if(password != repass){
          layer.msg('两次密码输入不一致')
          return 
        }

        var url = "{:url('admin/password')}" 
        var data = {'password': old, 'password_new': password }
        $.post(url,data,function(e){
            layer.msg(e.message)
            if(e.status == 1){
              setTimeout(function(){
                window.location.reload()
              },1500)  
            }
            
        },'json')
    }




  </script>
</body>
</html>