<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- ceshi2 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{$site.title},about us</title>
    <meta name="description" content="{$site.description},about us">
    <meta name="keywords" content="{$site.keywords}">
    <script src="_home_/assets/i8n/i18next.min.js"></script>
     <script src="_home_/assets/i8n/i18nextXHRBackend.min.js"></script>
     <script src="_home_/assets/i8n/i18nextBrowserLanguageDetector.min.js"></script>
    <link rel="stylesheet" href="https://cdb2024.oss-ap-southeast-1.aliyuncs.com/www/index.css" />
    <script src="https://cdb2024.oss-ap-southeast-1.aliyuncs.com/www/vue.global.js"></script>
    <link rel="stylesheet" href="_home_/assets/css/normalize.css">
    <link rel="stylesheet" href="_home_/assets/css/common.css">    
    <link rel="stylesheet" href="_home_/assets/css/header.css">
    <link rel="stylesheet" href="_home_/assets/css/footer.css">
    <link rel="stylesheet" href="_home_/assets/css/top.css">
    <link rel="stylesheet" href="_home_/assets/css/about.css">
    <script src="https://cdb2024.oss-ap-southeast-1.aliyuncs.com/www/index.full.js"></script>
</head>
<body>
    <div id="app" class="y-psr y-mga y-w100 y-h100">
        {include file="index/header" /}
        {include file="index/top" /}
        <!-- <topbox></topbox> -->
        <!-- banner开始 -->
        <div class="y-psr box2">
          <img alt="{$site.keywords}" src="_home_/assets/img/u1.jpg" class="y-w100 y-h100 img-p">
          <img alt="{$site.keywords}" src="_home_/assets/img/mobile/u2.jpg" class="y-w100 y-h100 img-m">
          <div class="y-al y-mc6 width1150 y-psa y-mga">
            <div class="y-psa y-mga box2-title font4">About Us</div>
            <div class="y-psa y-mga box2-content font3">Established in 2021, based on technology, industry characteristics, ecological environment, big data services on the research and development, operation and service of the company are integrated. We are aiming at the development of the local market in Singapore, creating shared charging treasure service platform. Poweron is committed to providing userwith high-quality, convenient and stable charging services innovative company.
            </div>
          </div>
         </div>
         <!-- banner结束 -->
         <!-- box4开始 -->
         <div class="box4 y-w100 y-bg8 y-ac">
           <div class="box4-1 y-mga">
             <div class="h50 y-ac box4-title font4 y-mc7">Comprehensive Security</div>
             <el-row>
               <el-col :lg="8" :md="24">
                 <div class="box4-1-1 y-ac y-bs">
                   <img alt="{$site.keywords}" src="_home_/assets/img/u4.png" class="box4-img">
                   <div class="y-ac box4-content">
                     <div class="box4-font3 font4 y-mc7">Vision</div>
                     <div class="box4-font2 y-mc5">Global Convenience Charging Expert</div>
                   </div>
                 </div>
               </el-col>
               <el-col :lg="8" :md="24">
                 <div class="box4-1-1 y-ac y-bs">
                   <img alt="{$site.keywords}" src="_home_/assets/img/u3.png" class="box4-img">
                   <div class="y-ac box4-content">
                     <div class="box4-font3 font4 y-mc7">Mission</div>
                     <div class="box4-font2 y-mc5">Ensure everyone is fully charged</div>
                   </div>
                 </div>
               </el-col>
               <el-col :lg="8" :md="24">
                 <div class="box4-1-1 y-ac y-bs">
                   <img alt="{$site.keywords}" src="_home_/assets/img/u5.png" class="box4-img">
                   <div class="y-ac box4-content">
                     <div class="box4-font3 font4 y-mc7">Values</div>
                     <div class="box4-font2 y-mc5">Service Excellence Respect and Integrity Innovation and Efficiency</div>
                   </div>
                 </div>
               </el-col>
             </el-row>
           </div>
         </div>
         <!-- box4结束 -->
         <!-- box8开始 -->
         <div class="box8 y-w100 y-bg8 y-ac y-psr">
           <img alt="{$site.keywords}" src="_home_/assets/img/u2.jpg" class="y-mga y-w100 img-p">
           <img alt="{$site.keywords}" src="_home_/assets/img/mobile/u1.jpg" class="y-mga y-w100 img-m">
           <div class="box3-1 y-mga y-psa">
             <div class="box3-1-1 y-ac y-psr">
               <div class="box-font box-font3 font4 y-w100 y-mc6">Business Milestones</div>
             </div>
             <div class="swiper y-w100 y-psr y-mga y-al y-mc6">
              <div class="swiper-slide y-psa">
                <img src="_home_/assets/img/line.png" alt="{$site.keywords}" class="line y-psa">
                <div class="swiper-date1 y-psa">20</div>
                <div class="swiper-date2 y-psa">24</div>
                <div class="swiper-content y-psa y-ft14">
                  <div class="">Strategic partnership established with Alipay+</div>
                </div>
              </div>
              <div class="swiper-slide y-psa">
               <img src="_home_/assets/img/line.png" alt="{$site.keywords}" class="line y-psa">
                <div class="swiper-date1 y-psa">20</div>
                <div class="swiper-date2 y-psa">23</div>
                <div class="swiper-content y-psa y-ft14">
                  <div>First-time collaboration with hospitals: Ng Teng Fong General Hospital & National University Hospital (NUH)</div>
                  <div>Collaboration with HaiDiLao</div>
                  <div>Collaboration with HaveFun Karaoke</div>
                  <div>Collaboration with Zouk Singapore</div>
                  <div>Partner network expanded to 800 merchants</div>
                </div>
              </div>
              <div class="swiper-slide y-psa">
               <img src="_home_/assets/img/line.png" alt="{$site.keywords}" class="line y-psa">
                <div class="swiper-date1 y-psa">20</div>
                <div class="swiper-date2 y-psa">22</div>
                <div class="swiper-content y-psa y-ft14">
                  <div>Collaboration with 100 nightclubs</div>
                  <div>Collaboration with Sembawang County Club</div>
                  <div>Collaboration with Capitaland Malls Raffles City</div>
                </div>
              </div>
              <div class="swiper-slide y-psa">
               <img src="_home_/assets/img/line.png" alt="{$site.keywords}" class="line y-psa">
                <div class="swiper-date1 y-psa">20</div>
                <div class="swiper-date2 y-psa">21</div>
                <div class="swiper-content y-psa y-ft14">
                  <div>Strategic partnership formed with FOMO</div>
                  <div>Collaboration initiated with Resorts World Sentosa</div>
                  <div>Collaboration with Capitaland Malls</div>
                </div>
              </div>
           </div>
           </div>
         </div>
         <!-- box8结束 -->
         <!-- box9开始 -->
         <div class="box9 y-w100 y-bg8 y-ac">
           <div class="box8-1 y-mga">
             <!-- <div class="box-font box-font3 font4" style="padding:60px 0 60px 0;">Global <span class="y-mc8">1000+</span> partners</div> -->
             <div class="font4 box9-font5">
               <div class="box-font y-fw y-ac box-font3 y-mc7">Our Clients</div>
               <div class="y-ft20 y-mc5">Over <span class="y-mc8">1000</span> collaborative partnerships</div>
             </div>
             <div class="box8-1-1 y-ac y-psr">
               <img alt="{$site.keywords}" src="_home_/assets/img/logobg.png" class="y-mga y-w100 img-p">
               <img alt="{$site.keywords}" src="_home_/assets/img/mobile/m4.png" class="y-mga y-w100 img-m">
               <img alt="{$site.keywords}" src="_home_/assets/img/mobile/m6.png" class="y-mga y-w100 img-m">
             </div>
           </div>
         </div>
         <!-- box9结束 -->
         {include file="index/footer" /}
       </div>
       <script>
        i18next
          .use(i18nextXHRBackend)
          .use(i18nextBrowserLanguageDetector)
          .init({
            // backend: {
            //   loadPath: '/locales/{{lng}}/{{ns}}.json'
            // },
            detection: {
              order: ['cookie', 'localStorage', 'navigator'],
              lookupCookie: 'i18next',
              caches: ['cookie']
            },
            fallbackLng: 'en',
            // lng: 'auto', // 自动检测语言
            resources: {
              en: { translation: {
                home: "Home",
                instruction: "Instruction",
                cooperation: "Cooperation",
                news: "News",
                about: "AboutUs"
              } }, // 空对象用于动态加载
              zh: { translation: {
                home: "Home",
                instruction: "Instruction",
                cooperation: "Cooperation",
                news: "News",
                about: "AboutUs"
              } } // 空对象用于动态加载
            }
          });
      </script>
      <script src="_home_/assets/js/footer.js"></script>
      <!-- <script src="_home_/assets/js/top.js"></script> -->
      <script type="text/javascript">
        const App = {
          components: {
            // Headerbox, Footerbox, Topbox
          }
        }
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
      </script>
      <script src="_plugs_/area/jquery.min.js"></script>
      <script src="_home_/assets/js/header.js"></script>
</body>
</html>