<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{if isset($title) && $title != ''}{$title}{else} {$site.title}_home{/if}</title>
    <meta name="description" content="{if isset($description) && $description != ''}{$description}{else} {$site.description}{/if}">
    <meta name="keywords" content="{$site.keywords},contact us">
    <script src="_home_/assets/i8n/i18next.min.js"></script>
     <script src="_home_/assets/i8n/i18nextXHRBackend.min.js"></script>
     <script src="_home_/assets/i8n/i18nextBrowserLanguageDetector.min.js"></script>
    <link rel="stylesheet" href="https://cdb2024.oss-ap-southeast-1.aliyuncs.com/www/index.css" />
    <script src="https://cdb2024.oss-ap-southeast-1.aliyuncs.com/www/vue.global.js"></script>
    <link rel="stylesheet" href="_home_/assets/css/normalize.css">
    <link rel="stylesheet" href="_home_/assets/css/common.css">    
    <link rel="stylesheet" href="_home_/assets/css/header.css">
    <link rel="stylesheet" href="_home_/assets/css/footer.css">
    <link rel="stylesheet" href="_home_/assets/css/top.css">
    <link rel="stylesheet" href="_home_/assets/css/cooperation.css">
    {include file="index/meta" /}
    <script src="https://cdb2024.oss-ap-southeast-1.aliyuncs.com/www/index.full.js"></script>
</head>
<body>
    <div id="app" class="y-psr y-mga y-w100 y-h100">
        {include file="index/header" /}
        {include file="index/top" /}
        <!-- <topbox></topbox> -->
        <!-- banner开始 -->
        <div class="y-psr box2 y-z1">
          <img alt="{$site.keywords}" src="_home_/assets/img/co3.png" class="y-w100 y-h100 y-psa img-p">
          <img alt="{$site.keywords}" src="_home_/assets/img/mobile/u9.jpg" class="y-w100 y-psa img-m">
          <h1 class="box10-title y-ac y-z3 y-psr y-mc7 remove-margin">Contact Us</h1>
          <p class="y-ac y-z3 y-psr y-mc7"><a href="/">Home </a> <span>/ Contact Us</span></p>
          <div class="box-font box10-title y-ac y-mc8 y-z3 y-psr">Becoming a Partner at PowerOn SG</div>
          <div class="y-ac y-mga box2-content y-z3 y-psr">
            <div class="y-ac y-fx y-mc7">
              <div class="y-fx1">
                <div class="font4 box10-c1">1000+</div>
                <div class="box10-c2">Partners</div>
              </div>
              <div class="y-fx1">
                <div class="font4 box10-c1">150000+</div>
                <div class="box10-c2">Registered Users</div>
              </div>
              <div class="y-fx1">
                <div class="font4 box10-c1">30+</div>
                <div class="box10-c2">Global Cities</div>
              </div>
            </div>
            <div class="h30"></div>
            <div class="box10 y-w100 y-bg6 y-ac y-psr mb-5">
              <div class="box10-1 y-mga y-psa y-w100 y-h100">
                <div class="box10-from y-mga y-psa">
                  <form id="myForm">
                    <div class="y-br10 y-bg6 y-psr y-b y-bs" style="height:50px;">
                      <img alt="{$site.keywords}" src="_home_/assets/img/icon2.png" style="left:15px;top:15px;" class="y-mga y-va w20 y-psa">
                      <input name="title" type="text" style="left:45px;top:0px;height:45px;width:80%;" placeholder="Company name" class="y-psa">
                    </div>
                    <div class="h15"></div>
                    <div class="y-fx">
                      <div class="y-fx1 y-al">
                        <div class="y-br10 y-bg6 y-dyi y-psr y-b y-bs" style="height:50px;width:98%;">
                          <img alt="{$site.keywords}" src="_home_/assets/img/icon4.png" style="left:15px;top:15px;" class="y-mga y-va w20 y-psa">
                          <input name="truename" type="text" style="left:45px;top:0px;height:45px;width:60%;" placeholder="Name" class="y-psa">
                        </div>
                      </div>
                      <div class="y-fx1 y-ar">
                        <div class="y-br10 y-bg6 y-dyi y-psr y-b y-bs" style="height:50px;width:98%;">
                          <img alt="{$site.keywords}" src="_home_/assets/img/icon3.png" style="left:15px;top:15px;" class="y-mga y-va w20 y-psa">
                          <input name="mobile" type="text" style="left:45px;top:0px;height:45px;width:60%;" placeholder="Tel" class="y-psa">
                        </div>
                      </div>
                    </div>
                    <div class="h15"></div>
                    <div class="y-br10 y-bg6 y-psr y-b y-bs" style="height:50px;">
                      <img alt="{$site.keywords}" src="_home_/assets/img/icon1.png" style="left:15px;top:15px;" class="y-mga y-va w20 y-psa">
                      <input type="text" name="city" style="left:45px;top:0px;height:45px;width:80%;" placeholder="Application Region" class="y-psa">             
                    </div>
                    <div class="h15"></div>
                    <div class="y-br10 y-bg6 y-psr y-b y-bs" style="height:100px;">
                      <img alt="{$site.keywords}" src="_home_/assets/img/icon5.png" style="left:15px;top:15px;" class="y-mga y-va w20 y-psa">
                      <textarea type="textarea" name="remark" style="left:45px;top:15px;height:80px;width:80%;" placeholder="Remarks" maxlength="100" class="y-psa textarea"></textarea>
                    </div>
                  </form>
                  <div class="h25"></div>
                  <div class="y-br30 y-bg1 y-mc6 h50 y-mga y-cp box2-btn" onclick="feedback()">Submit</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- banner结束 -->
        {include file="index/footer" /}
      </div> 
      <script>
        i18next
          .use(i18nextXHRBackend)
          .use(i18nextBrowserLanguageDetector)
          .init({
            // backend: {
            //   loadPath: '/locales/{{lng}}/{{ns}}.json'
            // },
            detection: {
              order: ['cookie', 'localStorage', 'navigator'],
              lookupCookie: 'i18next',
              caches: ['cookie']
            },
            fallbackLng: 'en',
            // lng: 'auto', // 自动检测语言
            resources: {
              en: { translation: {
                home: "Home",
                instruction: "Instruction",
                cooperation: "Cooperation",
                news: "News",
                about: "AboutUs"
              } }, // 空对象用于动态加载
              zh: { translation: {
                home: "Home",
                instruction: "Instruction",
                cooperation: "Cooperation",
                news: "News",
                about: "AboutUs"
              } } // 空对象用于动态加载
            }
          });
      </script>
      <script src="_home_/assets/js/footer.js"></script>
      <!-- <script src="_home_/assets/js/top.js"></script> -->
      <script type="text/javascript">
        const App = {
          components: {
            // Headerbox, Footerbox, Topbox
          }
        }
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
      </script>
      <script src="_plugs_/area/jquery.min.js"></script>
      <script src="_home_/assets/js/header.js"></script>
      <script>
           function showMessage(message, duration) {
     // 创建一个弹窗元素
     var dialog = $('<div class="dialog"></div>');
     
     // 添加消息内容
     dialog.html('<p>' + message + '</p>');
     
     // 设置弹窗样式
     dialog.css({
       'position': 'fixed',
       'top': '50%',
       'left': '50%',
       'transform': 'translate(-50%, -50%)',
       'background': '#e9e9eb',
       'padding': '20px',
       'border-radius': '5px',
       'color': '#F56C6C',
       'z-index': '9999',
       'opacity': 0.9,
       'display': 'none'
     });
     
     // 添加到页面
     $('body').append(dialog);
     
     // 显示弹窗
     dialog.fadeIn();
     if (duration) {
    setTimeout(function() {
      dialog.fadeOut();
    }, duration * 1000); // 将毫秒转换为秒
  }
     // 点击任何地方关闭弹窗
    //  $(document).on('click', function(e) {
    //    if (!$(e.target).is('.dialog')) {
    //      dialog.fadeOut();
    //    }
    //  });
   }
        function feedback(){
          let data = {
            title : '' ,
            truename : '' ,
            mobile : '' ,
            city : '' ,
            remark : ''

          }
          const form = document.getElementById('myForm');
          const formData = new FormData(form);
          data.truename = formData.get('truename');
          data.title = formData.get('title');
          data.city = formData.get('city');
          data.mobile = formData.get('mobile');
          data.remark = formData.get('remark');
          console.log(data)
          if (!data.title) {
            showMessage('Please fill in the Company name！', 3);
            return
          }
          if (!data.truename) {
            showMessage('Please fill in the Name！', 3);
            return
          }
          if (!data.mobile) {
            showMessage('Please fill in the Tel！', 3);
            return
          }
          if (!data.city) {
            showMessage('Please fill in the Application Region！', 3);
            return
          }
          if (!data.remark) {
            showMessage('Please fill in the Remarks！', 3);
            return
          }
          let url = "{:url('index/feedback')}"

          $.post(url,data,function(e){


            console.log(e)
            if(e.status == 1){
              showMessage('Submitted successfully！', 3);
              // 选择表单内所有需要清空的元素
              var formElements = $('form').find('input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], textarea, select');

              // 遍历并清空每个元素的值
              formElements.each(function() {
                $(this).val('');
              });
              // alert('提交成功')
              //window.location.href = '{:url("index/thanks")}';
            }else{
              showMessage('Submission failed！', 3);
              // alert('提交失败')
            }
          },'json')
        }
      </script>
</body>
</html>