  <div class="y-w100 y-bg6 y-ac">
          <div class="footer-box11 y-ac y-psr y-ac">
            <img alt="{$site.keywords}" src="_home_/assets/img/11.jpg" class="y-mga footer-box11-img y-va y-w100 img-p">
            <img alt="{$site.keywords}" src="_home_/assets/img/mobile/m7.jpg" class="y-mga footer-box11-img y-va y-w100 img-m">
            <div class="footer-box11-1 y-mga y-psa y-ac img-p">
                <img alt="{$site.keywords}" src="_home_/assets/img/logo3.png" class="y-va y-psa footer-box11-logo">
                <div class="y-fx y-psa footer-box11-info">
                  <div class="y-fx1 y-cp">
                      <el-tooltip class="box-item" effect="dark" content="" placement="top">
                        <template #content class="y-mc8 y-ft14">
                          <div class="y-mc8 y-ft16">{$site.tel}</div> 
                        </template>
                        <div>
                          <a href="tel:6957 7060" style="text-decoration:none;" >
                            <img alt="{$site.keywords}" src="_home_/assets/img/tel.png" class="y-mga footer-box11-img2 y-va">
                            <div class="y-ft14 y-mc3 footer-box11-text">Moblie</div>
                          </a>
                        </div>
                      </el-tooltip>
                  </div>
                  <div class="y-fx1 y-cp">
                      <el-tooltip class="box-item" effect="dark" content="" placement="top">
                        <template #content class="y-mc8 y-ft14">
                          <div class="y-mc8 y-ft16">{$site.email}</div>                          
                        </template>
                        <div>
                          <img alt="{$site.keywords}" src="_home_/assets/img/email.png" class="y-mga footer-box11-img2 y-va">
                          <div class="y-ft14 y-mc3 footer-box11-text">Email</div>
                        </div>
                      </el-tooltip>
                    </div>
                    <div class="y-fx1 y-cp">
                    <el-tooltip class="box-item" effect="dark" content="" placement="top">
                      <template #content class="y-mc8 w200 y-ft14">
                        <div class="y-mc8 y-ft16">{$site.address}</div>
                      </template>
                      <div>
                        <img alt="{$site.keywords}" src="_home_/assets/img/address.png" class="y-mga footer-box11-img2 y-va">
                        <div class="y-ft14 y-mc3 footer-box11-text">Address</div>
                      </div>
                    </el-tooltip>
                  </div>
                  <div class="y-fx1 y-cp">
                    <el-tooltip class="box-item" effect="dark" content="" placement="top">
                      <template #content class="y-mc1 y-ft14">
                        <div class="y-mc8 y-ft16 y-ac">{$site.whatsapp}</div>
                      </template>
                      <div>
                        <img alt="{$site.keywords}" src="_home_/assets/img/join.png" class="y-mga footer-box11-img2 y-va">
                        <div class="y-ft14 y-mc3 footer-box11-text">WhatsApp</div>
                      </div>
                    </el-tooltip>
                  </div>
                  <div class="y-fx1 y-cp">
                    <el-tooltip class="box-item" effect="dark" content="" placement="top">
                      <template #content class="y-mc1 y-ft14">
                        <div class="y-mc8 y-ft16 y-ac">9:00 AM-18:00 PM</div>
                      </template>
                      <div>
                        <img alt="{$site.keywords}" src="_home_/assets/img/office-time.png" class="y-mga footer-box11-img2 y-va">
                        <div class="y-ft14 y-mc3 footer-box11-text">Office Timing</div>
                      </div>
                    </el-tooltip>
                  </div>
                </div>
                <div class="y-fx y-psa footer-box11-info-socialmedia">
                  <div class="y-fx1 y-cp">
                        <div>
                          <a href="https://www.facebook.com/profile.php?id=61553572771321" target="_blank" style="text-decoration:none;" >
                            <img alt="{$site.keywords}" src="_home_/assets/img/facebook.png" class="y-mga footer-box11-img2 y-va">
                          </a>
                        </div>
                  </div>
                  <div class="y-fx1 y-cp">
                        <div>
                          <a href="https://www.instagram.com/poweron_sg/" target="_blank" style="text-decoration:none;" >
                            <img alt="{$site.keywords}" src="_home_/assets/img/instagram.png" class="y-mga footer-box11-img2 y-va">
                          </a>
                        </div>
                    </div>
                    <div class="y-fx1 y-cp">
                      <div>
                        <a href="https://www.tiktok.com/@poweronsg" target="_blank" style="text-decoration:none;" >
                          <img alt="{$site.keywords}" src="_home_/assets/img/tiktok.png" class="y-mga footer-box11-img2 y-va">
                        </a>
                      </div>
                  </div>
                  <div class="y-fx1 y-cp">
                      <div>
                        <a href="https://www.xiaohongshu.com/user/profile/64bf5a360000000014036f97xhsshare=CopyLink&appuid=5c80f1cc0000000016001958&apptime=1723694372&share_id=59935743731d47cf8903b23d75609885" target="_blank" style="text-decoration:none;" >
                        <img alt="{$site.keywords}" src="_home_/assets/img/xiaohongshu.png" class="y-mga footer-box11-img2 y-va">
                        </a>
                      </div>
                  </div>
                </div>
                <div class="w150 y-psa footer-box11-qr1">
                    <img alt="{$site.keywords}" src="_home_/assets/img/q2.jpg" class="y-mga y-va y-w100">
                    <div class="y-ft14 y-mc3 footer-box11-text" style="padding-top:20px;">PowerOn Mini Program</div>
                </div>
                <div class="w150 y-psa footer-box11-qr2">
                  <a href="https://poweron.sg/download/">
                    <img alt="{$site.keywords}" src="_home_/assets/img/q1.png" class="y-mga y-va y-w100">
                  </a>
                    <div class="y-ft14 y-mc3 footer-box11-text" style="padding-top:20px;">Scan and download the app</div>
                </div>
                <img alt="{$site.keywords}" src="_home_/assets/img/s1.png" class="y-mga y-va y-psa footer-box11-img-app" onclick="openAppStore()">
            </div>
            <div class="footer-box11-1 y-mga y-psa y-ac img-m">
                <img alt="{$site.keywords}" src="_home_/assets/img/logo3.png" class="y-va y-psa footer-box11-logo">
                <div class="y-fx y-psa footer-box11-info">
                  <div class="y-fx1 y-cp">
                      <el-tooltip class="box-item" effect="dark" content="" placement="top">
                        <template #content class="y-mc8 y-ft14">
                          <div class="y-mc8 y-ft16 y-ac">{$site.tel}</div> 
                        </template>
                        <div>
                        <a href="tel:6957 7060" style="text-decoration:none;" >
                          <img alt="{$site.keywords}" src="_home_/assets/img/tel.png" class="y-mga footer-box11-img2 y-va">
                          <div class="y-ft14 y-mc3 footer-box11-text">Moblie</div>
                        </a>
                        </div>
                      </el-tooltip>
                  </div>
                  <div class="y-fx1 y-cp">
                      <el-tooltip class="box-item" effect="dark" content="" placement="top">
                        <template #content class="y-mc8 y-ft14">
                          <div class="y-mc8 y-ft16">{$site.email}</div>                          
                        </template>
                        <div>
                          <img alt="{$site.keywords}" src="_home_/assets/img/email.png" class="y-mga footer-box11-img2 y-va">
                          <div class="y-ft14 y-mc3 footer-box11-text">Email</div>
                        </div>
                      </el-tooltip>
                    </div>
                    <div class="y-fx1 y-cp">
                    <el-tooltip class="box-item" effect="dark" content="" placement="top">
                      <template #content class="">
                        <div class="y-mc8 y-ft14 y-ac">{$site.address}</div>
                      </template>
                      <div>
                        <img alt="{$site.keywords}" src="_home_/assets/img/address.png" class="y-mga footer-box11-img2 y-va">
                        <div class="y-ft14 y-mc3 footer-box11-text">Address</div>
                      </div>
                    </el-tooltip>
                  </div>
                  <div class="y-fx1 y-cp">
                    <el-tooltip class="box-item" effect="dark" content="" placement="top">
                      <template #content class="y-mc1 y-ft14">
                        <div class="y-mc8 y-ft16 y-ac">{$site.whatsapp}</div>
                      </template>
                      <div>
                        <img alt="{$site.keywords}" src="_home_/assets/img/join.png" class="y-mga footer-box11-img2 y-va">
                        <div class="y-ft14 y-mc3 footer-box11-text">WhatsApp</div>
                      </div>
                    </el-tooltip>
                  </div>
                  <div class="y-fx1 y-cp">
                    <el-tooltip class="box-item" effect="dark" content="" placement="top">
                      <template #content class="y-mc1 y-ft14">
                        <div class="y-mc8 y-ft16 y-ac">9:00 AM-18:00 PM</div>
                      </template>
                      <div>
                        <img alt="{$site.keywords}" src="_home_/assets/img/office-time.png" class="y-mga footer-box11-img2 y-va">
                        <div class="y-ft14 y-mc3 footer-box11-text">Timing</div>
                      </div>
                    </el-tooltip>
                  </div>
                </div>
                <div class="y-fx y-psa footer-box11-info-socialmedia">
                  <div class="y-fx1 y-cp">
                        <div>
                          <a href="https://www.facebook.com/profile.php?id=61553572771321" target="_blank" style="text-decoration:none;" >
                            <img alt="{$site.keywords}" src="_home_/assets/img/facebook.png" class="y-mga footer-box11-img2 y-va">
                          </a>
                        </div>
                  </div>
                  <div class="y-fx1 y-cp">
                        <div>
                          <a href="https://www.instagram.com/poweron_sg/" target="_blank" style="text-decoration:none;" >
                            <img alt="{$site.keywords}" src="_home_/assets/img/instagram.png" class="y-mga footer-box11-img2 y-va">
                          </a>
                        </div>
                    </div>
                    <div class="y-fx1 y-cp">
                      <div>
                        <a href="https://www.tiktok.com/@poweronsg" target="_blank" style="text-decoration:none;" >
                          <img alt="{$site.keywords}" src="_home_/assets/img/tiktok.png" class="y-mga footer-box11-img2 y-va">
                        </a>
                      </div>
                  </div>
                  <div class="y-fx1 y-cp">
                      <div>
                        <a href="https://www.xiaohongshu.com/user/profile/64bf5a360000000014036f97xhsshare=CopyLink&appuid=5c80f1cc0000000016001958&apptime=1723694372&share_id=59935743731d47cf8903b23d75609885" target="_blank" style="text-decoration:none;" >
                        <img alt="{$site.keywords}" src="_home_/assets/img/xiaohongshu.png" class="y-mga footer-box11-img2 y-va">
                        </a>
                      </div>
                  </div>
                </div>
                <div class="w140 y-psa footer-box11-qr1">
                    <img alt="{$site.keywords}" src="_home_/assets/img/q2.jpg" class="y-mga y-va y-w100">
                    <div class="y-ft14 y-mc3 footer-box11-text" style="padding-top:20px;">PowerOn Mini Program</div>
                </div>
                <div class="w140 y-psa footer-box11-qr2">
                  <a href="https://poweron.sg/download/">
                    <img alt="{$site.keywords}" src="_home_/assets/img/q1.png" class="y-mga y-va y-w100">
                  </a>
                    <div class="y-ft14 y-mc3 footer-box11-text" style="padding-top:20px;">Scan and download the app</div>
                </div>
                <img alt="{$site.keywords}" src="_home_/assets/img/s1.png" class="y-mga y-va y-psa footer-box11-img-app" onclick="openAppStore()">
            </div>
          </div>
      </div>