  <div class="y-psr y-w100 y-mc6 y-z3 boxbig" style="top:0px;background: #000E26;">
    <div class="y-psa y-mga box font2" style="left:0;right:0;top:0;">
        <div class="y-fl y-cp">
            <a href="/" title="{$site.keywords},home" ><img alt="{$site.keywords}" src="_home_/assets/img/logo2.png" class="y-va logo"></a>
        </div>
        <div class="y-fr tabbox">
            <a href="/" title="{$site.keywords},home" ><div class="tab y-cp y-dyi y-bs {if $tabs == 'index'}active{/if} ">Home</div></a>
            <a href="{:url('index/instruction')}" title="{$site.keywords},how to use" ><div class="tab y-cp y-dyi {if $tabs == 'instruction'}active{/if} ">How to Use</div></a>
            <a href="{:url('index/contact')}" title="{$site.keywords},contact us" ><div class="tab y-cp y-dyi {if $tabs == 'contact'}active{/if} ">Contact Us</div></a>
            <a href="{:url('index/news')}" title="{$site.keywords},news" ><div class="tab y-cp y-dyi {if $tabs == 'news'}active{/if} ">News</div></a>
            <a href="{:url('index/about')}" title="{$site.keywords},about us" ><div class="tab y-cp y-dyi {if $tabs == 'about'}active{/if} ">About Us</div></a>
            <!-- <div class="y-dyi y-pl y-pr y-cp" style="font-size: 18px;font-family: 'font2';padding-left:40px;">
                <span @click="changeLanguage('en')">ENG</span>
                <span> | </span>
                <span @click="changeLanguage('ch')">中</span>
            </div> -->
        </div>
        <img src="_home_/assets/img/mobile/m9.png" alt="{$site.keywords}" class="menu y-fr m9">
        <img src="_home_/assets/img/mobile/m10.png" alt="{$site.keywords}" class="menu y-fr m10">
        <div class="y-w100 y-psf menu-item y-p y-bs y-mc6 y-z3 img-m">
            <a href="/" title="{$site.keywords},home">
                <div class="y-bs y-fx tab {if $tabs == 'index'}active{/if} ">
                    <div class="y-fx1 y-al">Home</div>
                    <div class="y-fx1 y-ar"><img src="_home_/assets/img/mobile/r.png" alt="{$site.keywords}" style="width:7px;"></div>
                </div>
            </a>
            <a href="{:url('index/instruction')}" title="{$site.keywords},how to use">
                <div class="y-p y-bs y-fx tab {if $tabs == 'instruction'}active{/if} ">
                    <div class="y-fx1 y-al">How to Use</div>
                    <div class="y-fx1 y-ar"><img src="_home_/assets/img/mobile/r.png" alt="{$site.keywords}" style="width:7px;"></div>
                </div>
            </a>
            <a href="{:url('index/contact')}" title="{$site.keywords},contact us">
                <div class="y-p y-bs y-fx tab {if $tabs == 'contact'}active{/if} ">
                    <div class="y-fx1 y-al">Contact Us</div>
                    <div class="y-fx1 y-ar"><img src="_home_/assets/img/mobile/r.png" alt="{$site.keywords}" style="width:7px;"></div>
                </div>
            </a>
            <a href="{:url('index/news')}" title="{$site.keywords},news">
                <div class="y-p y-bs y-fx tab {if $tabs == 'news'}active{/if} ">
                    <div class="y-fx1 y-al">News</div>
                    <div class="y-fx1 y-ar"><img src="_home_/assets/img/mobile/r.png" alt="{$site.keywords}" style="width:7px;"></div>
                </div>
            </a>
            <a href="{:url('index/about')}" title="{$site.keywords},about us">
                <div class="y-p y-bs y-fx tab {if $tabs == 'about'}active{/if} ">
                    <div class="y-fx1 y-al">About Us</div>
                    <div class="y-fx1 y-ar"><img src="_home_/assets/img/mobile/r.png" alt="{$site.keywords}" style="width:7px;"></div>
                </div>
            </a>
            <!-- <div class="y-bt"></div> -->
            <!-- <div class="y-pl y-pr y-pt y-fx" style="font-size: 18px;font-family: 'font2';">
                <span class="y-fx1 y-ac" @click="changeLanguage('en')">ENG</span>
                <span class="y-fx1 y-ac">|</span>
                <span class="y-fx1 y-ac" @click="changeLanguage('zh')">中</span>
            </div> -->
        </div>
    </div>
</div>