<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{if isset($title) && $title != ''}{$title}{else} {$site.title}_home{/if}</title>
        <meta name="description" content="{if isset($description) && $description != ''}{$description}{else} {$site.description}{/if}">
        <meta name="keywords" content="{$site.keywords}">
        <script src="_home_/assets/i8n/i18next.min.js"></script>
        <script src="_home_/assets/i8n/i18nextXHRBackend.min.js"></script>
        <script src="_home_/assets/i8n/i18nextBrowserLanguageDetector.min.js"></script>
        <link rel="stylesheet" href="https://cdb2024.oss-ap-southeast-1.aliyuncs.com/www/index.css" />
        <script src="https://cdb2024.oss-ap-southeast-1.aliyuncs.com/www/vue.global.js"></script>
        <link rel="stylesheet" href="_home_/assets/css/normalize.css">
        <link rel="stylesheet" href="_home_/assets/css/common.css">    
        <link rel="stylesheet" href="_home_/assets/css/header.css">
        <link rel="stylesheet" href="_home_/assets/css/footer.css">
        <link rel="stylesheet" href="_home_/assets/css/top.css">
        <link rel="stylesheet" href="_home_/assets/css/instruction.css">
        {include file="index/meta" /}
        <script src="https://cdb2024.oss-ap-southeast-1.aliyuncs.com/www/index.full.js"></script>
    </head>
    <body>
        <div id="app" class="y-psr y-mga y-w100 y-h100">
            {include file="index/header" /}
            {include file="index/top" /}
            <!-- <topbox></topbox> -->
            <!-- banner开始 -->
            <div class="y-psr box2">
                <img alt="{$site.keywords}" src="_home_/assets/img/in3.jpg" class="y-w100 y-h100 img-p">
                <img alt="{$site.keywords}" src="_home_/assets/img/mobile/u6.jpg" class="y-w100 y-h100 img-m">
                <div class="box2-content-box y-psa y-ac y-mga">
                    <!-- <img alt="{$site.keywords}" src="_home_/assets/img/in6.png" class="y-w100 y-z3 box2-img y-mga y-dyi y-va"> -->
                    <div class="y-ac y-mc8 y-mga box2-content-title y-fw">PowerOn SG</div>
                    <div class="y-ac y-mc6 y-mga box2-content">Mobile power supply leasing process</div>
                </div>
            </div>
        <!-- banner结束 -->
        <!-- box1开始 -->
        <div class="box3-1 y-mga y-p y-bs y-mc9 font4">
          <a href="/">Home</a> / How to Use
        </div>
        <div class="box7 y-w100 y-bg6 y-ac">
            <div class="box3-1 y-mga">
              <h1 class="box-font box7-font font4 y-ac y-mc7 remove-margin">How to Use</h1>
              <img alt="{$site.keywords}" src="_home_/assets/img/mobile/u4.png" class="y-mga box7-img img-m">
              <div class="h30 img-m"></div>
              <img alt="{$site.keywords}" src="_home_/assets/img/mobile/u5.png" class="y-mga box7-img img-m">
            <div class="box7-1-1 y-ac y-psr img-p">
              <img alt="{$site.keywords}" src="_home_/assets/img/in1.png" class="y-mga box7-img">
              <!-- <img alt="{$site.keywords}" src="_home_/assets/img/mobile/u5.png" class="y-mga box7-img"> -->
              <div class="y-mga box7-content y-fx y-fw y-mc7">
                <div class="y-fx1">Download App</div>
                <div class="y-fx1">Register</div>
                <div class="y-fx1">Scan QR code</div>
                <div class="y-fx1">Payment</div>
              </div>
            </div>
          </div>
        </div>
        <!-- box1结束 -->
        <!-- box2开始 -->
        <div class="box8 y-w100 y-bg6 y-ac">
          <div class="box8-1 y-mga">
            <div class="box8-1-1 y-ac y-psr">
              <div class="y-ac y-mc6 y-psa y-mga h40 box8-content">The rental mobile power supply is hassle-free and easy to rent and return.It can be returned to any machine!</div>
              <img alt="{$site.keywords}" src="_home_/assets/img/in4.jpg" class="y-mga y-w100 img-p">
              <img alt="{$site.keywords}" src="_home_/assets/img/mobile/u7.jpg" class="y-mga y-w100 img-m">
            </div>
          </div>
        </div>
        <!-- box2结束 -->
        <!-- box3开始 -->
        <div class="box1 y-w100 y-bg6 y-ac">
          <div class="box1-1 y-mga">
            <el-row>
              <el-col :lg="12" :md="24">
                <div class="box1-1-1 y-al y-psr">
                  <img alt="{$site.keywords}" src="_home_/assets/img/in5.png" class="y-psa y-mga box1-img">
                </div>
              </el-col>
              <el-col :lg="12" :md="24">
                <div class="box1-1-2 y-psr y-ac">
                  <div class="y-psa y-mga y-psr box1-content">
                    <div class="box-font box1-font font4 y-mc7">Bilingual Switching</div>
                    <div class="box1-font2 y-al fontsize y-mc5">Easily switch between Chinese and English anytime, anywhere.</div>
                  </div>
                </div>
              </el-col>
            </el-row>
          </div>
        </div>    
        <!-- box3结束 -->
        <!-- box4开始 -->
        <div class="box5 y-w100 y-bg8 y-ac">
          <div class="box3-1 y-mga">
            <el-row>
              <el-col :lg="12" :md="24">
                <div class="box5-1-2 y-psr y-al">
                  <div class="y-psa y-mga y-psr box5-content">
                    <div>
                      <div class="box-font box5-font font4 y-mc7">Multiple Payment Methods</div>
                      <div class="box5-font2 y-bs fontsize y-mc5">Enjoy the convenience of various mainstream payment options, including Alipay, WeChat Pay, Visa, MasterCard, Apple Pay, Google Pay, and more.</div>
                    </div>
                  </div>
                </div>
              </el-col>
              <el-col :lg="12" :md="24">
                <div class="box5-1-1 y-al y-psr">
                  <img alt="{$site.keywords}" src="_home_/assets/img/in2.png" class="y-psa y-mga box5-img">
                </div>
              </el-col>
            </el-row>
          </div>
        </div>
        <!-- box4结束 -->
        {include file="index/footer" /}

      </div>
      <script>
        i18next
          .use(i18nextXHRBackend)
          .use(i18nextBrowserLanguageDetector)
          .init({
            // backend: {
            //   loadPath: '/locales/{{lng}}/{{ns}}.json'
            // },
            detection: {
              order: ['cookie', 'localStorage', 'navigator'],
              lookupCookie: 'i18next',
              caches: ['cookie']
            },
            fallbackLng: 'en',
            // lng: 'auto', // 自动检测语言
            resources: {
              en: { translation: {
                home: "Home",
                instruction: "Instruction",
                cooperation: "Cooperation",
                news: "News",
                about: "AboutUs"
              } }, // 空对象用于动态加载
              zh: { translation: {
                home: "Home",
                instruction: "Instruction",
                cooperation: "Cooperation",
                news: "News",
                about: "AboutUs"
              } } // 空对象用于动态加载
            }
          });
      </script>
      <script src="_home_/assets/js/footer.js"></script>
      <!-- <script src="_home_/assets/js/top.js"></script> -->
      <script type="text/javascript">
        const App = {
          components: {
            // Headerbox, Footerbox, Topbox
          }
        }
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
      </script>
      <script src="_plugs_/area/jquery.min.js"></script>
      <script src="_home_/assets/js/header.js"></script>
</body>
</html>