<div class="topbox y-psf">
  <a href="{:url('index/contact')}" title="{$site.keywords},contact">
    <div class="topbox1 y-psr y-cp">
    <img src="_home_/assets/img/join2.png" alt="{$site.keywords}" class="y-psa y-mga">
    <img src="_home_/assets/img/join1.png" alt="{$site.keywords}" class="y-psa y-mga">
    </div>    
  </a>
  <a id="fixed-header" class="topshow" title="{$site.keywords},to top">
      <div class="topbox2 y-psr y-cp">
          <img src="_home_/assets/img/top.png" alt="{$site.keywords}" class="y-psa y-mga">
      </div>
  </a>
</div>