<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="_admin_/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="_admin_/style/admin.css" media="all">
</head>
<body>
  
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">分类</div>
          <div class="layui-card-body">


            <div class="test-table-reload-btn" style="margin-bottom: 10px;">
              <button class="layui-btn layui-text-right" data-type="" onclick="add()"><i class="layui-icon">&#xe654;</i>增加</button>
            </div>

            <table class="layui-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>名称</th>
                  <th>缩略图</th>
                  <th>层级</th>
                  <th>时间</th>
                  <!-- <th>排序</th> -->
                  <th>状态</th>
                  <th width="150">操作</th>
                </tr> 
              </thead>
              <tbody>
                {volist name="list" id="vo"}
                <tr>
                  <td>{$vo.id}</td>
                  <td>{if $vo.lv >1}&nbsp;&nbsp;&nbsp;<sup>L</sup> {/if} {$vo['title']|raw}</td>
                  <td><img src="{$vo['img']}"/></td>
                  <td>{$vo['lv']}</td>
                  <td>{$vo['create_time']|date="Y-m-d H:i"}</td>
                  <!-- <td>{$vo['sort']}</td> -->
                  <td>
                    {if $vo['status'] == 1}     
                    <a class="layui-btn layui-btn-xs" lay-event="detail" onclick="status({$vo['id']})"><i class="layui-icon">&#x1005;</i>开启</a>
                    {else/}
                    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="detail" onclick="status({$vo['id']})"><i class="layui-icon">&#x1006;</i>关闭</a>
                    {/if}
                  </td>
                  <td>
                    <!-- <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail"><i class="layui-icon">&#xe609;</i>查看</a> -->
                    <a class="layui-btn layui-btn-xs" lay-event="edit" onclick="edit({$vo['id']})"><i class="layui-icon">&#xe642;</i>编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" onclick="del({$vo['id']})"><i class="layui-icon">&#xe640;</i>删除</a>
                  </td>
                </tr>
                {/volist}
                {empty name="list"}
                  <tr>
                    <td colspan="6" align="center"><i class="layui-icon">&#xe6af;</i> 暂无数据</td>
                  </tr>
                {/empty}

              </tbody>
            </table>

            <div class="layui-card-body">
              <div id="laypage"></div>
            </div>

          </div>
        </div>
      </div>




    </div>
  </div>
  
{include file="index:footer" /}
{include file="index:fun2" /}
<script>


</script>

</body>
</html>
