.box10, .box10-img{
  height:600px;
}
.box10-1{
  left:0px;right:0px;top: 50px;
}
.textarea{
  margin: 0; /* 移除外边距 */
  padding: 0; /* 移除内边距 */
  border: none; /* 移除边框 */
  outline: none; /* 移除焦点时的轮廓 */
  resize: none; /* 禁止调整大小 */
  box-sizing: border-box; /* 保证宽高包含padding和border */
  font-size: inherit; /* 继承父元素字体大小，避免默认字体大小 */
  font-family: inherit; /* 继承父元素字体，保持一致性 */
}
.y-psa::placeholder {
  color: rgba(153, 153, 153, 0.5); /* 将#yourDesiredColor替换为你想要的颜色 */
}
@media screen and (max-width: 1199px) { 
  /* 当屏幕宽度小于或等于1149px时，这里的样式将会生效 */
  .box-font{
  font-size:30px;
  font-weight: bold;
  padding-bottom: 30px;
}
.img-p{
  display: none;
}
.img-m{
  display: block;
}
  .box2{
    width:100%;
  }
  .box2-content {
    width:100%;
    top:20px;
    font-size: 20px;
    font-weight: bold;
  }
  .box3-header{
    padding: 0 10px 20px 10px;
    top: -60px;
  }
  .box3-1{
    bottom: 10px;
    right: 0px;
    height: 136px;
    width: 100%;
  }
  .box3-1-2{
    background: rgba(0, 177, 255);
  }
  .box3-img1{
    top: 0px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.18);
    border: 3px solid #ffffff;
  }
  .box3-d-t{
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  }
  .box3-date{
    font-size: 14px;
    bottom: 40px;
    left: 30px;
  }
  .box3-detail1{
    overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  }
  .box3-detail{
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    letter-spacing: 0.05em;
  }
  .box3-content{
    position: relative;
    padding: 10px 10px 0px 10px ;
    top: -60px;
  }
  .box3-content1{
    margin-bottom: 20px;
      }
  .box3-content1:hover{
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.18);
  }
  .box3-title{
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    color: #333333;
    }
.box3-text{
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #666666;
  }
  .box3-detail-date{
    font-size: 14px;
font-weight: normal;
line-height: 20px;
letter-spacing: 0em;
color: rgba(153, 153, 153, 0.8);
  }
  .box3-test-detail{
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 14px;
font-weight: normal;
line-height: 20px;
letter-spacing: 0em;
color: #00B1FF;
  }
  .box3-pagination{
    left:0;right:0;width: 100%;
  }
  .box-font, .box-font2{
    display: inline-block;
    text-align: center;
  }
  .box-font3{
    text-align: center;
  }
  .box10-from{
    left:0px;right:0px;top: 100px;width:90%;
  }
  .submit{
    width: 100%;
  }
}
@media screen and (min-width: 1200px) { /* 1150px以上 */ 
  .fontsize{
    font-size:20px;
  }
  .img-p{
    display: block;
  }
  .img-m{
    display: none;
  }
  .box-font{
    font-size:40px;
    font-weight: bold;
    padding-bottom: 30px;
  }
  .box2{
    height:100%;
  }
  .box3{
    width: 1150px;
  }
  .box3-header{
    height: 420px;
  }
  .box3-1{
    padding: 30px;
    width:390px;
    top: -60px;
    right: 0px;
    height: 430px;
    background: rgba(0, 177, 255);
  }
  .box3-img1{
    top: -60px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.18);
    width:766px;
    border: 3px solid #ffffff;
    height: 430px;
  }
  .box3-content1-img1{
height:208px;
  }
  .box3-d-t{
    font-size: 24px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0em;
  }
  .box3-date{
    font-size: 14px;
    bottom: 40px;
    left: 30px;
  }
  .box3-detail{
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.05em;
  }
  .box3-content{
    top: 0px;
    position: relative;
  }
  .box3-content1{
margin-bottom: 20px;
  }
  .box3-content1:hover{
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.18);
  }
  .box3-title{
    font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0em;
color: #333333;
margin-bottom: 10px;
}
.box3-text{
    margin-bottom: 10px;
    font-size: 14px;
font-weight: normal;
line-height: 20px;
letter-spacing: 0.05em;
color: #666666;
  }
  .box3-detail-date{
    font-size: 14px;
font-weight: normal;
line-height: 20px;
letter-spacing: 0em;
color: rgba(153, 153, 153, 0.8);
  }
  .box3-test-detail{
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 14px;
font-weight: normal;
line-height: 20px;
letter-spacing: 0em;
color: #00B1FF;
  }
  .box3-pagination{
    left:0;right:0;padding: 50px 0;
  }
  .box-font {
    font-size: 40px;
  }
  .box-font2 {
    width:80%;line-height:30px;
  }
  .box-font, .box-font2{
    text-align: left;
  }
  .box10-title{
  text-align: center;
}
  .box-font3{
    text-align: center;
  }
  .box-font4{
    font-size: 24px;
    text-align: center;
  }
  .box2-content {
    width:100%;
    font-size: 48px;
    top:40px;
    left:0px;
    right:0px;
  }
  .box-font {
    font-size: 40px;
  }
  .box10-from{
    left:0px;right:0px;top: 100px;width:50%;
  }
  .submit{
    width: 50%;
  }
}