.topshow{
  display: none;
}
@media screen and (max-width: 1199px) { 
  /* 当屏幕宽度小于或等于1149px时，这里的样式将会生效 */
  .topbox{
    margin: auto;
    height: 180px;
    width:50px;
    bottom:100px;
    right:10px;
    z-index:999;
  }
  .topbox1{
    background: #01B9F5;
    width: 48px;
    height: 108px;
    border-radius: 12px;
  }
  .topbox1:hover{
    background: #0094cf;
  }
  .topbox2{
    margin-top:10px;
    background: rgba(255, 255, 255, 0.88);
    border-radius: 12px;
    width: 48px;
    height: 48px;
  }
  .topbox1 > img:nth-child(1){
    top:20px;
    left:0px;
    right:0px;
    width:20px;
  }
  .topbox1 > img:nth-child(2){
    bottom:20px;
    left:0px;
    right:0px;
    width:25px;
  }
  .topbox2 img{
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
  }
 
}
@media screen and (min-width: 1200px) { /* 1150px以上 */ 
  .fontsize{
    font-size:20px;
  }
  .topbox{
    margin: auto;
    height: 180px;
    width:50px;
    bottom:100px;
    right:10px;
    z-index:999;
  }
  .topbox1{
    background: #01B9F5;
    width: 48px;
height: 108px;
border-radius: 12px;
  }
  .topbox1:hover{
    background: #0094cf;
  }
  .topbox2{
    margin-top:10px;
    background: rgba(255, 255, 255, 0.88);
    border-radius: 12px;
    width: 48px;
height: 48px;
  }
  .topbox1 > img:nth-child(1){
    top:20px;
    left:0px;
    right:0px;
  }
  .topbox1 > img:nth-child(2){
    bottom:20px;
    left:0px;
    right:0px;
  }
  .topbox2 img{
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
  }
 
}
.hidden {
  display: block;
}